<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- chamando o vue.js pelo arquivo-->
    <script src="./vue.js"></script>
    <!-- chamando pelo link cdn na ultima versão-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <title>Home</title>
    <style>
        .vermelho {
            color: red;
        }
        
        .azul {
            background-color: blue;
            font-weight: bold;
        }
        
        .verde {
            background-color: green;
            font-weight: bold;
        }
        
        .negrito {
            font-weight: bold;
        }
        
        .borda {
            border: 1px solid
        }
        
        .div-principal {
            width: 200px;
            height: 200px;
        }
        
        .div-comum {
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <!-- Vue.JS-->
    <div id="app">
        Mensagem: {{ mensagem }} <br> Valor Total: {{ valorTotal }} <br> Logado: {{ logado }} <br> Hobbies: {{ hobbies[2] }} <br> perfil: {{ perfil.idade }}, Familia: {{ perfil.familia[1].nome }} <br>
    </div>
    <hr>
    <div id="app2">
        somar: {{ somar() }} <br> substrair: {{ subtrair() }} <br> multiplicar: {{ multiplicar() }} <br> dividir: {{ dividir() }}
        <hr>
        <a v-bind:href="site"> Site</a>
        <p v-bind:class="cor" class="negrito"> Diretiva v-bind </p>
        <input type="text" v-bind:placeholder="preencher">
        <!-- v-bind pode ser usando omitindo a expressão v-bind, ficaria apenas :href-->
        <input type="checkbox" :checked="check">
        <br> {{ preencher.length }}
        <br> {{ preencher.substr(0,5) }}
        <input :value="2 + 2" :class="teste ? 'verde' : cor">
    </div>
    <hr>
    <div id="app3">
        <!-- Chamar function por eventos -->
        <input type="text" v-on:keyup="imprimirTexto('Teste',5,v_bol)">
        <!-- v-on pode ser apenas um @ -->
        <button @click="mensagemAlerta()">Alerta</button>
        <button @click="mensagemAlerta2($event, 'texto', 100)">Passando evento</button>
    </div>
    <hr>
    <div id="app4">
        <div class="borda div-principal" :class="cor">
            Cor: {{ cor }}
            <br> Posição X do mouse: {{ posicaoX }} <br> Posição Y do mouse: {{ posicaoY }}
        </div>
        <hr>
        <div @click="mudarCor('verde')" class="borda div-comum"></div>
        <div @mouseover="mudarCor('vermelho')" @mouseout="mudarCor('azul')" class=" borda div-comum "></div>
        <div @mousemove="coordenadas($event)" class="borda div-comum "></div>
    </div>
    <hr>
    <div id="app5">
        <a href="http://www.google.com" target="_blank" v-on:click="prevenirComportamentoPadrao($event)">Abrir site</a> <br> Mensagem: {{ msg }}
        <br>
        <button @click.once="executarUmaVez()">Vai</button>
        <br> Clique: {{ cliques }}
        <hr>
        <form @submit.prevent.once="prevenirExecutarUmaVez()">
            <button type="submit">Enviar</button>
        </form>
        <p>Formulario: {{ formulario }}</p>
        <hr>
        <!--keyup.x quer dizer que ocorrer quando for a tecla x -->
        <input type="text" @keyup.x.Enter="capturaTeclas($event)">
        <p>Teclas: {{ teclas }}</p>
    </div>
    <hr>
    <div id="app6">
        <!-- elemento filho -->
        <input type="text" id="inputTexto">
        <button @click="selecioneElementoFilho()">Botão</button>
        <p id="paragrafo" style="color:red">Paragrafo</p>
    </div>
    <hr>

    <div id="app7">
        <!-- estou negando o valor do exibirSaldo-->
        <!--toggle-->
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo"> Exibir Saldo</span>
            <span v-if="exibirSaldo"> Ocultar Saldo</span>
        </button>
        <p> Saldo: <span v-if="exibirSaldo"> R$ {{ saldo }}</span></p>
        <br>
        <!-- v-if e v-else -->
        Idade: <input type="text" id="inputIdade" @blur="setIdate()">
        <p v-if="idade < 18">Menor de idade </p>
        <p v-else-if="idade > 17 && idade < 19">Se lascou</p>
        <p v-else>Maior de idade </p>
    </div>
    <hr>

    <div id="app8">
        <p @mouseover="ExibirTextoAjuda = true" @mouseout="ExibirTextoAjuda = false"> Exemplo tooptip (v-show) passe o mouse</p>
        <div v-show="ExibirTextoAjuda">
            <h3>Titulo Texto</h3>
            <p>conteudo texto</p>
        </div>

    </div>
    <hr>

    <div id="app9">
        <!-- <div v-text="elementosHTML">Esse texto sera limpo</div> -->
        <div v-html="elementosHTML">Esse texto sera limpo</div>
    </div>
    <hr>
    <div id="app10">
        <!-- v-once não deixar o valor ser afetado mais -->
        <p v-once>Saldo inicial: {{ saldo }}</p>
        <p>Saldo Atualizado: {{ saldo }}</p>
        <input type="text" id="valor">
        <button @click="creditar()">Creditar</button>
        <button @click="debitar()">Debitar</button>
    </div>
    <hr>
    <div id="app11">
        <ul>
            <li v-for="(curso, key) in cursos" v-text="key + '-' + curso">{{ key }}-{{ curso }}</li>
        </ul>
        <br>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                    <th>DESCRICAO</th>
                </tr>
            </thead>
            <tbody>
                <!-- pode-se usar o destructuring assignment onde ao inves de trazer tudo em curso2, poderia trazer apenas elementos dele-->
                <!-- ex: <tr v-for="({titulo}, chave) in cursos2 "> -->
                <!-- <td>{{ titulo }}</td> -->
                <tr v-for="(curso2, chave) in cursos2 ">
                    <td>{{ chave }}</td>
                    <td>{{ curso2.titulo }}</td>
                    <td>{{ curso2.descricao }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <ul>
            <!-- : é o mesmo que v-bind-->
            <li v-for="p in publicacoes" style="border: solid 1px; margin-buttom:10px" :key="p.id">
                <div>
                    {{ p.publicacao }}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>
        <button @click="misturarArray()">Misturar publicações</button>
    </div>
    <hr>

    <script>
        const vm11 = new Vue({
            el: '#app11',
            data: {
                cursos: ['laravel', 'Web completo', 'banco de dados', 'angular'],
                cursos2: {
                    1000: {
                        titulo: 'Laravel',
                        descricao: 'dominando'
                    },
                    1001: {
                        titulo: 'Banco de dados',
                        descricao: 'dominando banco de dados'
                    }
                },
                publicacoes: [{
                    id: 1,
                    publicacao: 'publicacao 1'
                }, {
                    id: 2,
                    publicacao: 'publicacao 2'
                }, {
                    id: 3,
                    publicacao: 'publicacao 3'
                }, ]
            },
            methods: {
                misturarArray() {
                    let misturado = []

                    misturado[0] = this.publicacoes[2]
                    misturado[1] = this.publicacoes[0]
                    misturado[2] = this.publicacoes[1]

                    this.publicacoes = misturado
                }
            }
        })
    </script>

    <script>
        const vm10 = new Vue({
            el: '#app10',
            data: {
                saldo: 1100
            },
            methods: {
                creditar() {
                    this.saldo += parseFloat(valor.value)
                },
                debitar() {
                    this.saldo -= parseFloat(valor.value)
                }
            }
        })
    </script>

    <script>
        const vm9 = new Vue({
            el: '#app9',
            data: {
                elementosHTML: '<p><b>Site</b></p><a href="http://www.google.com.br">Cliqui aqui</a>'
            },
            methods: {}
        })
    </script>

    <script>
        const vm8 = new Vue({
            el: '#app8',
            data: {
                ExibirTextoAjuda: false
            },
            methods: {}
        })
    </script>

    <script>
        const vm7 = new Vue({
            el: '#app7',
            data: {
                saldo: 4570.17,
                exibirSaldo: false,
                idade: 0
            },
            methods: {
                setIdate() {
                    this.idade = inputIdade.value
                }
            }
        })
    </script>

    <script>
        const vm6 = new Vue({
            el: '#app6',
            data: {},
            methods: {
                selecioneElementoFilho() {
                    console.log(inputTexto.value)
                    console.log(inputTexto)
                    console.log(paragrafo.style.color)
                    console.log(paragrafo.innerHTML)
                }
            }
        })
    </script>

    <script>
        const vm5 = new Vue({
            el: '#app5',
            data: {
                msg: '',
                cliques: 0,
                formulario: '',
                teclas: ''
            },
            methods: {
                prevenirComportamentoPadrao(evento) {
                    //prevent evita que algo aconteça no click, isso pode ser colocado diretamento no click
                    evento.preventDefault();

                    this.msg = 'Comportamente padrão ativado'
                },
                executarUmaVez() {
                    this.cliques++
                },
                prevenirExecutarUmaVez() {
                    this.formulario = 'Prevenindo o comportamento padrão'
                },
                capturaTeclas(evento) {
                    this.teclas += evento.key
                }
            }
        })
    </script>
    <script>
        const vm4 = new Vue({
            el: '#app4',
            data: {
                cor: 'branco',
                posicaoX: 0,
                posicaoY: 0
            },
            methods: {
                mudarCor(c) {
                    this.cor = c
                },
                coordenadas(e) {
                    this.posicaoX = e.clientX
                    this.posicaoY = e.clientY
                }
            }
        })
    </script>

    <script>
        const vm3 = new Vue({
            el: '#app3',
            data: {
                v_bol: true,
                v_bol2: false
            },
            methods: {
                imprimirTexto(p_texto, p_num, p_v_bol) {
                    console.log(p_texto)
                    console.log(p_num)
                    console.log(p_v_bol)
                    console.log(this.v_bol2)
                },
                mensagemAlerta() {
                    alert('Mensagem de alerta')
                },
                mensagemAlerta2(evento, p1, p2) {
                    console.log(evento, p1, p2)
                }
            }
        })
    </script>

    <script>
        options2 = {
            el: '#app2', // elemento = # para selecionar por id | . para selecionar por class
            data: {
                n1: 10,
                n2: 5,
                site: 'https://www.google.com/',
                cor: 'vermelho',
                preencher: 'Diretiva v-bind',
                check: true,
                teste: true
            },
            methods: {
                somar: function somar() {
                    return this.n1 + this.n2;
                },
                subtrair: function() { //função anônima
                    return this.n1 - this.n2;
                },
                multiplicar: () => { //arrow function
                    return this.n1 * this.n2; //ver o contexto léxico (variaveis da window), não dar pra chamar direto o this.
                },
                dividir() { //forma enxuta de pares valores
                    //teste arrow function dentro de um function (não vai pelas variveis da windw)
                    let f = () => {
                        return 'Teste arrow function dentro de um function';
                    }

                    console.log(f());
                    //--fim
                    return this.n1 / this.n2;
                }
            }
        }
        const vm2 = new Vue(options2) //vm = ViewModel
        console.log(vm2)
    </script>

    <script>
        options = {
            el: '#app', // elemento = # para selecionar por id | . para selecionar por class
            data: { //data = variaveis ou atributos reativos
                mensagem: 'primeiro template pelo vue', //string

            }
        }
        const vm = new Vue(options) //vm = ViewModel
        console.log(vm)
    </script>

</body>

</html>